@model Spring_Microfinance_Management_System.Models.LoanCalculator
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">

    </div>
</header><!-- End Header -->
<!-- ======= Values Section ======= -->
<section id="values" class="values">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p style="font-size:27px">Our Loans</p>
            <p>Financing that meets your needs</p>
        
        </header>

        <div class="row">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                    <img src="~/assets/img/values-1.png" class="img-fluid" alt="">
                    <h3>Individual Loans</h3>
                    <div style="text-align:left; font-size:19px">
                        <p>
                            <b>Loan amounts</b>

                            <br />
                            MMK 1,000,000 to MMK 10,000,000
                        </p>
                        <p>
                            <b>Loan term</b>

                            <br />
                            6 to 24 months
                        </p>
                        <p>
                            <b> Guarantor</b>

                            <br />
                            A guarantor with sufficient income is required
                        </p>
                        <p>
                            <b>Repayment</b>

                            <br />
                            Monthly
                        </p>
                        <p>
                            <b>    Administration fee</b>

                            <br />
                            5.0% of the approved loan amount,
                            depending on the term of the loan
                        </p>
                        <p>
                            <b>  Interest rate</b>

                            <br />
                            Basic interest rate is 30% but you can negotitate about interest rate
                        </p>
                        <p>
                            <b> Compulsory savings</b>

                            <br />
                            5% of the approved loan amount
                            <br />
                            remunerated at 14% interest per year
                        </p>
                        <a class="btn btn-primary" href="/Loan/Apply">Apply Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <img src="~/assets/img/values-2.png" class="img-fluid" alt="">
                    <h3>Student Loans</h3>
                    <div style="text-align:left; font-size:19px">
                        <p>
                            <b> Loan amounts</b>

                            <br />
                            MMK 100,000 to MMK 7,000,000
                        </p>
                        <p>
                            <b>  Loan term</b>

                            <br />
                            6,9 or 12 months
                        </p>
                        <p>
                            <b> Guarantor</b>

                            <br />
                            A guarantor with sufficient income is required
                        </p>
                        <p>
                            <b>  Repayment</b>

                            <br />
                            Monthly
                        </p>
                        <p>
                            <b>Administration fee</b>

                            <br />
                            5.0% of the approved loan amount,
                            depending on the term of the loan
                        </p>
                        <p>
                            <b> Interest rate</b>

                            <br />
                            Basic interest rate is 20% but you can negotitate about interest rate
                        </p>
                        <p>
                            <b>Compulsory savings</b>

                            <br />
                            5% of the approved loan amount
                            <br />
                            remunerated at 14% interest per year
                        </p>
                        <a class="btn btn-primary" href="/Loan/Apply">Apply Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                <div class="box">
                    <img src="~/assets/img/values-3.png" class="img-fluid" alt="">
                    <h3>Agricultural loans</h3>
                    <div style="text-align:left; font-size:19px">
                        <p>
                            <b>Loan amounts</b>
                            <br />
                            MMK 300,000 to MMK 5,000,000
                        </p>
                        <p>
                            <b>Loan term</b>
                            <br />
                            3 to 12 months
                        </p>
                        <p>
                            <b> Guarantor</b>

                            <br />
                            A guarantor with sufficient income is required
                        </p>
                        <p>
                            <b>Repayment</b>

                            <br />
                            Adapted to the crop cycle
                        </p>
                        <p>
                            <b>Administration fee</b>

                            <br />
                            0.5% of the approved loan amount,
                            depending on the term of the loan
                        </p>
                        <p>
                            <b>Interest rate</b>

                            <br />
                            Basic interest rate is 30% but you can negotitate about interest rate
                        </p>
                        <p>
                            <b> Compulsory savings</b>

                            <br />
                            5% of the approved loan amount
                            <br />
                            remunerated at 14% interest per year
                        </p>
                        <a class="btn btn-primary" href="/Loan/Apply">Apply Now</a>

                    </div>
                </div>
            </div>

        </div>

    </div>

</section><!-- End Values Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Loan Types</h2>
            <p>You can calculate your interest loan amount here</p>
        </header>

        <div class="row">

            <div class="col-lg-6">
                <img src="~/assets/img/features.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="col-lg-6 align-self-center" data-aos="fade-up" data-aos-delay="200" style="background-color:aliceblue">
                    <div class="box">
                        <div class="row align-self-center gy-4">
                            <h2>Loan Calculator</h2>
                            <form class="form-inline" action="/LoanCalculator/LoanCalculator" method="post">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LoanAmount)
                                    @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "$" } })
                                </div><br /><br />

                                <div class="form-group">
                                    @Html.LabelFor(model => model.InterestRate)
                                    @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "% (eg. 20)" } })
                                </div><br /><br />

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TermInMonths)
                                    @Html.EditorFor(model => model.TermInMonths, new { htmlAttributes = new { @class = "form-control" } })
                                </div><br /><br />

                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Calculate</button>
                            </form>
                            <br />
                            @if (ViewBag.MonthlyPayment != null)
                            {
                                <h3>Monthly Payment: @ViewBag.MonthlyPayment.ToString("C")</h3>
                                <h4>Total Payment: @ViewBag.TotalPayment.ToString("C")</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- / row -->



    </div>

</section><!-- End Features Section -->
